.header{
    background-color: #1abc9c;
}
.site-name h1{
    font-size: 70px;
}
.header-sec i{
    color: white;

}
.header-sec-line{
    width: 40px;
}
.header-sec-line::after{
    content: "";
    background-color: white;
    width: 100px;
    height: 4px;
    top: 10px;
    right: 50px;
    position: absolute;
}
.header-sec-line::before{
    content: "";
    background-color: white;
    width: 100px;
    height: 4px;
    top: 10px;
    left: 50px;
    position: absolute;
}